<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">CryptoFolio</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/market">Market</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="trans" href="/transfers">Transfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="modal fade" id="exchangeHeader2Modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-body">
    				Please add atleast 2 exchanges to transfer BTC.
    			</div>
    			<div class="modal-footer portfolio-modal-footer">
    				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="modal fade" id="exchangeHeader1Modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-body">
    				Please add atleast 1 more exchange to transfer BTC.
    			</div>
    			<div class="modal-footer portfolio-modal-footer">
    				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
